body {
    background-color: #f5f8ff;
}

.body {
    margin-top: 1.5rem;
}

[v-cloak] {
    display: none;
}

.footer {
    background: none;
    border: none;
    color: #7e878c;
    font-size: 13px;

    a {
        color: $primary;
    }
}

.hidden {
    display: none;
}

.width-auto {
    width: auto;
}

.breadcrumb {
    display: none;
}

@media (width >= 1200px) {
    .container-xl {
        margin-right: auto;
        margin-left: auto;
        width: 1140px;
        max-width: 100%;
    }
}
