// Tiptap media wysiwyg overrides
.tiptap-editor table.table td {
  min-width: unset;
  display: table-cell;
}

.tiptap-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0.5em 0;
}

.has-danger {
  .tiptap-editor {
    border: 1px solid $danger;
    &:after {
      background-image: $icon-error;
    }
  }
}

.has-success {
  .tiptap-editor {
    &:after {
      background-image: $icon-correct;
    }
  }
}
