.header {
    padding: 0 20px 0 0;
    border-bottom: 1px solid #e4e7ea;
    margin-bottom: 0;
}

.header-toggler {
    background: none;
    border: none;
    color: var(--cui-header-color);
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
}

.dropdown .dropdown-menu {
    display: block;
    border: none;
    border-radius: 0;
    padding: 0;
    margin-top: -3px;
    right: 0;
    left: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .23);
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.dropdown-header {
    background: $primary;
    color: white;
    border-bottom: none;
    padding: 0.5rem 1.25rem;
    font-size: 0.875rem;
}

.dropdown-item {
    border-bottom: 1px solid #F0F2F4;
    padding: 0.5rem 1.25rem;
    font-size: 0.875rem;

    i {
        color: #c8ced3;
        display: inline-block;
        margin-left: -10px;
        margin-right: 10px;
        text-align: center;
        width: 20px;
    }
}

.dropdown-item.active,
.dropdown-item:active {
    color: #263238;
    text-decoration: none;
    background-color: white;
}

.header .navbar-brand {
    padding: 0.5rem 1rem;
    color: $primary;
    font-weight: 600;
    display: inline;
    width: auto;
    height: auto;
    margin-right: 1rem;
    background: none !important;
    border: none;
    img {
        max-width: 200px;
        max-height: 20px;
    }
}

.header-nav .nav-link {
    font-size: 0.875rem;
    color: #263238;
}

.dropdown-toggle {
    box-shadow: none !important;
    &:hover {
        cursor: pointer;
    }
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 991px) {
    .header .navbar-brand {
        text-align: center;
    }
    .avatar-initials {
        display: none;
    }
}

@media (max-width: 600px) {
    .header .navbar-brand {
        display: none;
    }
}
