// Loaders and icons
@import 'images';

// Colors
$primary: #4273fa !default;
$danger: #fe3f61 !default;
$success: #60cf7d !default;
$warning: #f5be30 !default;
$mutedText: #b9c8de !default;

// CoreUI 5 sidebar variables
$sidebar-bg: #485779 !default;
$sidebar-nav-link-active-bg: $primary !default;
$sidebar-nav-link-active-color: white !default;
$sidebar-nav-link-active-icon-color: white !default;
$pagination-hover-bg: #f3f8ff !default;

// Border radius
$border-radius: 0.25rem !default;
$border-radius-sm: 0.2rem !default;
$border-radius-lg: 0.3rem !default;

// Active loader
$loader: $threeDots !default;
